.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background: $mainColor;
    color: #FFF;
}

a{
    color: $mainColor;
    &:hover{
        color: $solidColor;
    }
}