a,button{
    &:focus{
        outline: none;
    }
}

.consulting-container{
    
    .home-section{
        background: #FFF;
        // padding-top: 0!important;
        &::before{
            display: none;
            // background-image: url("../image/curve-blue-light.png");
            // background: none;  /* fallback for old browsers */
            // background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
            // background-image: -webkit-linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
            bottom: 0!important;
            
        }
        .inner-banner h1{
            
        }
        .inner-banner{
            padding-top: 0;
            h1{
                font-size: 35px;
            }
        }
    }

    .consulting-about-us{
        // border-top: 1px solid #EEE;
        padding-top: 70px;
        background: #f3fbff;
    }

    .digital-about-us{
        padding-top: 90px;
    }

    .sub-services{
        padding: 80px 0 0;
        .item{
            text-align: center;
            padding: 30px 0;
            .item-icon{
                width: 60px;
                display: inline-block;
            }
            .title{
                margin-top: 15px;
                margin-bottom: 0;
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 600;
            }
        }   
    }

    .consulting-service{
        margin-top: 50px;
        .item{
            text-align: center;
            max-width: 250px;
            padding: 20px 5px;
            margin: auto;
            .img-container{
                max-width: 90px;
                margin: auto;
            }
            .title{
                font-size: 15px;
                margin-top: 20px;
                margin-bottom: 0;
            }
        }
    }


}

.global-carousel{
    .owl-nav{
        position: absolute;
        left: -80px;
        right: -80px;
        top: 33%;
        height: 0;
        
        .owl-prev,
        .owl-next
        {
            width: 50px;
            height: 50px;
            background: #FFF!important;
            text-align: center;
            line-height: 38px;
            border-radius: 50%;
            @extend %boxshadow;
            img{
                max-width: 20px;
                max-height: 20px;
            }

            &.disabled{
                display: none;
            }

        }
        .owl-prev{
            float: left;
        
        }
        .owl-next{
            float: right;
        }
    }
}


.section-consuting-services-2{
    .page-sec-header{
        text-align: left;
        .title-page-interne{
            &::after{
               left: 0; 
            }
        }
    }
    .block{
    padding: 80px 0 0;   
    p{
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    ul{
        &:last-of-type{
            margin-bottom: 0;
        } 
    }
    .row{
        align-items: center;
        -webkit-align-items: center;
    } 
    .img-container{
        text-align: center;
        img{
            // max-width: 490px;
        }
    }
        &.block1{
            // background: #654ea3;  /* fallback for old browsers */
            // background: -webkit-linear-gradient(to right, #eaafc800 50%, #ffeeeb  50%);  /* Chrome 10-25, Safari 5.1-6 */
            // background: linear-gradient(to right, #eaafc800 50%, #ffeeeb  50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }

    .bottom-description{
        padding: 40px 0;
        // border-top: 2px solid #EEE;
    }
}

@media (max-width: 991px){

}

@media (max-width: 767px){
    .section-digital-services{
        .block{
            background: none!important;
            padding: 20px 0;
            .img-container{
                margin-bottom: 15px;
                img{
                    max-width: 100%!important;
                }
            }

            &.block1{
                .img-container{
                    background: #ffeeeb;  /* Chrome 10-25, Safari 5.1-6 */
                }
            }
            &.block2{
                .img-container{
                    background: #e6eff0;  /* Chrome 10-25, Safari 5.1-6 */
                }
            }
            &.block3{
                .img-container{
                    background:  #deffe9;  /* Chrome 10-25, Safari 5.1-6 */
                }
            }
            &.block4{
                .img-container{
                    background: #fff7e6;  /* Chrome 10-25, Safari 5.1-6 */
                }
            }
            &.block5{
                .img-container{
                    background: #FFF5F5;  /* Chrome 10-25, Safari 5.1-6 */
                }
            }
    
            &.block6{
                .img-container{
                    background:  #f1f9f4;
                }
            }
        }
    }

    .testimonials{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 575px){
    .digital-container{
        .home-section{
            .inner-banner h1 {
                font-size: 24px !important;
                line-height: 1.4 !important;
            }
        }
    }

    .global-carousel{
        .owl-nav{
            left: -10px;
            right: -10px;

            .owl-next,
            .owl-prev
            {
                width: 40px;
                height: 40px;
            }
        }
    }
}