.contactus-header,
.page-interne-header-style{
    background: #ddf5ff;
    padding: 140px 0 60px;
    height: auto!important;
    &::before{
        display: none;
    }

    .sec-header{
        .sec-title{
            padding-bottom: 0;
            margin-bottom: 0;
            &::after{
                display: none;
            }
        }
    }

}

.form-section{
    .form-conntainer{
        .form-group{
         margin-bottom: 30px;   
         margin-left: 0;
         margin-right: 0;
        }
        
        label{
            text-transform: uppercase;
            font-size: 14px;
            color: #444;
        }
        input[type="text"],
        input[type="email"]{
            height: 50px;
        }
        .form-control{
            border-radius: 0;
            border-color: #F1F1F1;
            background-color: #F1F1F1;
            border: 1px solid #F1F1F1!important;

            &::placeholder{
                color: #999;
            }

            outline: 0;
            border: 0;
            box-shadow: none;

            &:focus{
                border: 1px solid rgba($mainColor, .6)!important;
                box-shadow: none;
            }

        }

        .form-group.has-error{
            .form-control{
                border: 1px solid #f58989!important;
            }
        }
        textarea{
            min-height: 150px;
        }

        .btn-container{
            margin-bottom: 0;
            margin-top: 60px;
        }

        .btn-submit{
            width: 190px;
            display: block;
            margin: auto;
            margin-bottom: 0;
            i{
                margin-left: 20px;
            }

            &:hover,
            &:focus{
                color: #FFF;
                background: $solidColor;
            }

        }

    }
    .contact-info{
        .item{
            padding: 30px;
            text-align: center;
            height: 100%;
            border: 1px solid #EEE;
            // margin-top: 20px;
            i{
                font-size: 3rem;
                margin-bottom: 20px;
                color: $mainColor;
            }
            .title{
                font-size: 15px;
                font-weight: 600;
                color: #444;
                a{
                    color: inherit;
                    &:hover{
                        color: $mainColor;
                    }
                }
            }
        }
    }

    .google-maps{
        margin-top: 30px;
        .frame_google_maps{
            width: 100%;
            height: 600px;
        }
    }
}

@media (max-width: 575px){
    .contactus-header{
        height: auto!important;
        min-height: auto;
        padding: 130px 0 40px;
    }

    .form-section{
        .form-conntainer{
            .form-group{
                margin-bottom: 20px;   
               }
            input[type="text"],
            input[type="email"]{
                height: 43px;
            }

            textarea{
                min-height: 100px;
            }
        }
        
        .google-maps{
            .frame_google_maps{
                width: 100%;
                height: 400px;
            }
        }
    }

}