a,button{
    &:focus{
        outline: none;
    }
}

.design-container{
    
    .home-section{
        background: #FFF;
        background: -webkit-linear-gradient(to right #eaafc800 50%, #eaf9ff7d 50%);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eaafc800 50%, #eaf9ff7d 50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        &::before{
            display: none;
            // // background-image: url("../image/curve-blue-light.png");
            // background: none;  /* fallback for old browsers */
            // bottom: 0!important;
            
        }
        .inner-banner h1{
            
        }
        .inner-banner{
            padding-top: 0;
            h1{
                font-size: 35px;
            }
        }
    }

    .design-about-us{
        // border-top: 1px solid #EEE;
        padding: 90px 0;
        background: #f5f7f7;
    }

    .sub-services{
        padding: 80px 0 0;
        .item{
            text-align: center;
            padding: 30px 0;
            .item-icon{
                width: 60px;
                display: inline-block;
            }
            .title{
                margin-top: 15px;
                margin-bottom: 0;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
            }
        }   
    }

    .testimonials{
        // background-color: #F1F2F2;
    }

    .no-references{
        .sec-header{
            .sec-title{
                text-align: center;
                &::after{
                    display: none;
                }
            }
        }
        .consulting-service{
            // margin-top: 50px;
            .item{
                text-align: center;
                max-width: 250px;
                padding: 20px 5px;
                margin: auto;
                .img-container{
                    max-width: 90px;
                    margin: auto;
                }
                .title{
                    font-size: 15px;
                    margin-top: 20px;
                    margin-bottom: 0;
                }
            }
        }
    }

    .no-realisation{
        background: #f2f5f5;
    }

}

.section-design-services{
    .block{
        padding: 80px 0;   
    p{
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    ul{
        &:last-of-type{
            margin-bottom: 0;
        } 
    }
    .row{
        align-items: center;
        -webkit-align-items: center;
    } 
    .img-container{
        text-align: center;
        img{
            max-width: 490px;
        }
    }
        &.block1{
            // background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #eaafc800 50%, #ffeeeb  50%);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #eaafc800 50%, #ffeeeb  50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        &.block2{
            // background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #f0fff4 50%, #eaafc800 50%);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #f0fff4 50%, #eaafc800 50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            // background: -webkit-linear-gradient(to right, #e6eff0 50%, #eaafc800 50%);  /* Chrome 10-25, Safari 5.1-6 */
            // background: linear-gradient(to right, #e6eff0 50%, #eaafc800 50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        &.block3{
            // background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #eaafc800 50%, #ffeeeb 50%);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #eaafc800 50%, #ffeeeb  50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        &.block4{
            // background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #f0fff4 50%, #eaafc800 50%);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #f0fff4 50%, #eaafc800 50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        &.block5{
            // background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #eaafc800 50%, #FFF5F5 50%);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #eaafc800 50%, #FFF5F5   50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        &.block6{
            // background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #f1f9f4 50%, #eaafc800 50%);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #f1f9f4  50%, #eaafc800 50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }
}

@media (max-width: 991px){
    .design-container{
        .home-section{
            background: #FFF;
        }
    }
}

@media (max-width: 767px){
    .section-design-services{
        .block{
            background: none!important;
            padding: 20px 0;
            .img-container{
                margin-bottom: 15px;
                img{
                    max-width: 100%!important;
                }
            }

            &.block1{
                .img-container{
                    background: #ffeeeb;  /* Chrome 10-25, Safari 5.1-6 */
                }
            }
            &.block2{
                .img-container{
                    background: #e6eff0;  /* Chrome 10-25, Safari 5.1-6 */
                }
            }
            &.block3{
                .img-container{
                    background:  #deffe9;  /* Chrome 10-25, Safari 5.1-6 */
                }
            }
            &.block4{
                .img-container{
                    background: #fff7e6;  /* Chrome 10-25, Safari 5.1-6 */
                }
            }
            &.block5{
                .img-container{
                    background: #FFF5F5;  /* Chrome 10-25, Safari 5.1-6 */
                }
            }
    
            &.block6{
                .img-container{
                    background:  #f1f9f4;
                }
            }
        }
    }

}
