a,button{
    &:focus{
        outline: none;
    }
}

.digital-container{
    
    .home-section{
        background: #FEFEFE;
        &::before{
            background: #e6e9f0;  /* fallback for old browsers */
            background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
            background-image: -webkit-linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
            bottom: 0!important;
            
        }
        .inner-banner h1{
            
        }
        .inner-banner{
            padding-top: 0;
            h1{
                font-size: 35px;
            }
        }
    }

    .web-about-us{
        // border-top: 1px solid #EEE;
        background: #fafafb;
    }

    .digital-about-us{
        padding-top: 90px;
    }

    .sub-services{
        padding: 80px 0 0;
        .item{
            text-align: center;
            padding: 30px 0;
            .item-icon{
                width: 60px;
                display: inline-block;
            }
            .title{
                margin-top: 15px;
                margin-bottom: 0;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
            }
        }   
    }

}


.section-digital-services{
    .block{
    padding: 80px 0;   
    p{
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    ul{
        &:last-of-type{
            margin-bottom: 0;
        } 
    }
    .row{
        align-items: center;
        -webkit-align-items: center;
    } 
    .img-container{
        text-align: center;
        img{
            max-width: 490px;
        }
    }
        &.block1{
            // background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #eaafc800 50%, #ffeeeb  50%);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #eaafc800 50%, #ffeeeb  50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        &.block2{
            // background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #e6eff0 50%, #eaafc800 50%);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #e6eff0 50%, #eaafc800 50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        &.block3{
            // background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #eaafc800 50%, #deffe9 50%);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #eaafc800 50%, #deffe9  50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        &.block4{
            // background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #fff7e6 50%, #eaafc800 50%);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #fff7e6 50%, #eaafc800 50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        &.block5{
            // background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #eaafc800 50%, #FFF5F5 50%);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #eaafc800 50%, #FFF5F5   50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        &.block6{
            // background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #f1f9f4 50%, #eaafc800 50%);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #f1f9f4  50%, #eaafc800 50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }
}

@media (max-width: 991px){

}

@media (max-width: 767px){
    .section-digital-services{
        .block{
            background: none!important;
            padding: 20px 0;
            .img-container{
                margin-bottom: 15px;
                img{
                    max-width: 100%!important;
                }
            }

            &.block1{
                .img-container{
                    background: #ffeeeb;  /* Chrome 10-25, Safari 5.1-6 */
                }
            }
            &.block2{
                .img-container{
                    background: #e6eff0;  /* Chrome 10-25, Safari 5.1-6 */
                }
            }
            &.block3{
                .img-container{
                    background:  #deffe9;  /* Chrome 10-25, Safari 5.1-6 */
                }
            }
            &.block4{
                .img-container{
                    background: #fff7e6;  /* Chrome 10-25, Safari 5.1-6 */
                }
            }
            &.block5{
                .img-container{
                    background: #FFF5F5;  /* Chrome 10-25, Safari 5.1-6 */
                }
            }
    
            &.block6{
                .img-container{
                    background:  #f1f9f4;
                }
            }
        }
    }

    .testimonials{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 575px){
    .digital-container{
        .home-section{
            .inner-banner h1 {
                font-size: 24px !important;
                line-height: 1.4 !important;
            }
        }
    }
}