@mixin addPrefix($attr, $value) {
    #{$attr}: $value;
    -webkit-#{$attr}: $value;
    -moz-#{$attr}: $value;
    -o-#{$attr}: $value;
    -ms-#{$attr}: $value;
}
@mixin flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@mixin flexWidth($w) {
    -ms-flex: 0 0 $w;
    flex: 0 0 $w;
    max-width: $w;
}
@mixin flexWrap() {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin flexAlignCenter() {
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

@mixin flexJustifyEnd() {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
        justify-content: flex-end;
}
@mixin flexJustifyBetween() {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@mixin flexGrow($n) {
    -webkit-box-flex: $n;
    -ms-flex-positive: $n;
        flex-grow: $n;
}
@mixin flip() {
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

@mixin flexJustifyCenter($position: center) {
    -webkit-box-pack: $position;
    -ms-flex-pack: $position;
        justify-content: $position;
}

@mixin flexDirectionRow() {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

@mixin  overlay($opacity, $color: #000) {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: rgba( $color, $opacity);
}
@mixin  icon($size, $fs: 1rem, $color: #222, $bg: none, $border: 0, $radius: 0) {
    width: $size;
    height: $size;
    line-height: $size;
    color: $color;
    font-size: $fs;
    background: $bg;
    border: $border;
    text-align: center;
    border-radius: $radius;
}

@mixin shadow($x: 0, $y: 0, $rad: 5px, $color: rgba(#000, .1)) {
    -webkit-box-shadow: $x $y $rad $color;
    -moz-box-shadow: $x $y $rad $color;
    -o-box-shadow: $x $y $rad $color;
    box-shadow: $x $y $rad $color;
}

@mixin pos($t: none, $r: none, $b: none, $l: none) {
    @if  $t != none{
        top: $t;
    }
    @if  $r != none{
        #{$right}: $r;
    }
    @if  $b != none{
        bottom: $b;
    }
    @if  $l != none{
        #{$left}: $l;
    }
}

@mixin beforeIcon($prefix: before, $content: "\f105", $position: relative, $fs: 1rem, $top: 4px, $color: #222) {
    position: $position;
    &::#{$prefix}{
        @extend %line-font;
        position: absolute;
        content: $content;
        #{$left}: 0;
        top: $top;
        font-size: $fs;
        color: $color;
    }
}