a,button{
    &:focus{
        outline: none;
    }
}

.mobile-container{
    
    .home-section{
        background: #FFF;
        // padding-top: 0!important;
        &::before{
            display: none;
            // background-image: url("../image/curve-blue-light.png");
            // background: none;  /* fallback for old browsers */
            // background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
            // background-image: -webkit-linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
            bottom: 0!important;
            
        }
        .inner-banner h1{
            
        }
        .inner-banner{
            padding-top: 0;
            h1{
                font-size: 35px;
            }
        }
    }

    .mobile-about-us{
        // border-top: 1px solid #EEE;
        padding-top: 70px;
        background: #f5f7f7;
    }

    .testimonials{
        // background-color: #F1F2F2;
    }

}


.mobile-steps{
    overflow: hidden;
    background: #f4f7f7;
    .items{
        position: relative;
        overflow: hidden;
        padding-bottom: 30px;    
        &::before{
            content: "";
            position: absolute;
            left: calc(50% - 2.5px);
            top: 0;
            bottom: 0;
            width: 5px;
            height: 100%;
            background: $mainColor;
        }
        span.top,
        span.bottom
        {
            position: absolute;
            left: calc(50% - 8px);
            top: 0;
            bottom: 0;
            width: 16px;
            height: 16px;
            z-index: 2;
            border-radius: 16px;
            background: $mainColor;
        }

        span.bottom{
            bottom: 0;
            top: auto;
        }
    }
    .item{
        width: 35%;
        float: left;
        border-radius: 30px 30px 0 30px;
        position: relative;
        margin-bottom: 100px;
        margin-top: 0;
        text-align: center;
        
        .img-container{
            width: 90px;
            height: 90px;
            line-height: 40px;
            text-align: center;
            padding: 20px;
            margin: auto;
            margin-bottom: 20px;
            border-radius: 50%;
            border: 3px dashed $mainColor;
            i{
                font-size: 2.2rem;
                color: $mainColor;
            }
        }
        &.step-4{

        }
        padding: 20px;
        background: #FFF;
        @extend %boxshadow;
        // margin-top: 30px;
        .title{
            font-size: 17px;
            margin-top: 0;
            margin-bottom: 15px;
            font-weight: 700;
            text-transform: uppercase;
            color: #333;
        }

        .description{
            font-size: 14px;
            line-height: 1.4;
            font-weight: 500;
            margin: 0;
        }

        &::after{
            content: "";
            position: absolute;
            left: calc(100% + 25px);
            top: calc(50% - 2px);
            width: calc(37%);
            height: 3px;
            background: $mainColor;
        }

        .start-node,
        .end-node{
            position: absolute;
            top: calc(50% - 5px);
            bottom: 0;
            width: 10px;
            height: 10px;
            z-index: 2;
            border-radius: 10px;
            background: $mainColor;
        }

        .start-node{
            right: -25px;
        }
        .end-node{
            right: calc(-44% - 1px);
        }
        &.step-2{
            margin-top: 100px;
        }
        &.step-5{
            margin-bottom: 0px;
        }
        &.step-2,
        &.step-4{
            border-radius: 30px 30px 30px 0;
            float: right;

            .start-node{
                left: -25px;
                right: auto;
            }
            .end-node{
                left: calc(-44% - 1px);
                right: auto;
            }

            &::after{
                right: calc(100% + 25px);
                left: auto;
            }
        }
    }
}

@media (max-width: 991px){
    .mobile-steps{
        .items{
            &::before,
            .top,
            .bottom{
                display: none;
            }
        }

        .item{
            width: 100%;
            margin-bottom: 80px;
            margin-top: 0!important;
            float: none!important;
            &.step-2,
            &.step-4{
            }
            .start-node,
            .end-node{
                left: calc(50% - 5px)!important;;
                right: auto!important;
                top: auto!important;;
                // height: 50px;
                // width: 5;

            }
            .start-node{
                bottom: -15px!important;
            }
            .end-node{
                bottom: calc(-75px)!important;
                
            }

            &::after{
                left: calc(50% - 2px)!important;
                right: auto!important;
                top:calc(100% +  10px)!important;
                bottom: auto!important;
                width: 3px;
                height: 60px;
            }


            &:last-of-type{
                margin-bottom: 0;
            }

            &.step-5{
                .start-node,
                .end-node,
                &::after
                {
                    display: none;
                }
            }
        }

    }
}
