.page-sec-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    .title-page-interne{
       font-size: 25px; 
       font-family: $fontFamilly;

       &::after{
           left: calc(50% - 35px);
           
       }
    }
}

.page-interne-header-style{
    min-height: auto!important;
}

.page-line{
    margin-left: auto;margin-right: auto;
    border-color: #444;
}

.icon{
    &.icon-medium{
        font-size: 3rem;
    }
}

.page-block{
    h3{
        font-size: 20px;
        color: #333;
    }
    &.steps-app{
        margin-bottom: 20px;
        border-bottom: 1px solid #EEE;
        // max-width: 600px;

        .step-item{
            // margin-bottom: ;
            padding: 15px;
            h3{
                font-size: 17px;
                text-transform: uppercase;
                font-weight: 700;
            }
            ul li,p{
                font-size: 14px;
            }
        }
    }
    .block-item-inner{
        padding: 20px;
    }

    .steps-app{
        
    }
}

.js_subscribe{
    .form-control{
        border-radius: 0;
        background: #FBFBFB;
        box-shadow: none;
        height: 38px;
    }

    .js_subscribe_btn {
        height: 38px;
        border-radius: 0;
        line-height: 24px;
        background: $mainColor;
        border: 0;

        &:hover{
            background: $solidColor;
        }
    }

    .js_subscribed_btn {
        height: 38px;
        border-radius: 0;
        line-height: 24px;
        background: #CCC;
        color: #999;
        border: 0;
    }
}

.site-footer-description{
    h4{
        margin-top: 25px;
        margin-bottom: 0px;
    }
}

.website_blog{
    #blog_right_column{
        padding-bottom: 60px;

    }

    .cover_footer{
        max-height: 250px;
    }

    .next-readmore-button{
        display: inline-block;
        padding: 10px 20px;
        background: $mainColor;
        color: #FFF;
        border-radius: 10px;
        opacity: .9;

        &:hover{
            opacity: 1;
        }
    }
}

.o_blog_cover_container {
    
    @include flex();
    @include flexAlignCenter();
    .blog_title{
        position: relative!important;
        top: auto!important;
        left: auto!important;
        bottom: auto!important;
        right: auto!important;
        max-width: 700px;
    
        h1{
            font-size: 30px!important;
            font-weight: bold;
            margin-bottom: 14px;
        }
        h2{
            font-size: 17px!important;
            font-weight: 500;
            text-shadow: 1px 1px #00000040;
            color: #FFF;
        }
    }
}
.website_blog{

}

#wrap.latest-blog{
    padding-bottom: 60px;
    .o_blog_cover_container{
        padding: 0;
        margin-top: 35px;
        .o_blog_cover_image{
            background-color: #EEE;
            height: 200px;
            width: 100%;
            background-size: cover;
            background-position: top center;
        }
    }
}
@media (max-width: 575px){
    .page-sec-header{
        .title-page-interne{
           font-size: 18px; 
           font-weight: 700;
        }
    }

    h2.sec-title{
        font-size: 18px;
        margin-bottom: 20px;
        &::after{
            height: 3px;
            bottom: 3px;
        }
    }

    .header .inner-banner p{
        font-weight: 500;
    }
}