a,button{
    &:focus{
        outline: none;
    }
}

.web-container{
    
    .home-section{
        background: #FEFEFE;
        &::before{
            // background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(113deg, #eaafc800 55%, #eaf9ff7d 52%);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(113deg, #eaafc800 60%, #eaf9ff7d 55%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }

    .web-about-us{
        // border-top: 1px solid #EEE;
        background: #fafafb;
    }
}

.web-steps{
    background: #fafafb;

    .sec-header{
        text-align: center;
        .sec-title{
            padding-bottom: 17px;
            margin-bottom: 0;
            &::after{
                display: none;
            }
        }
        .sec-summary{

        }
    }

    .steps-container{
        margin-top: 50px;


    }
    .step{
        @include flex();
        @include flexAlignCenter();
        border-color: $mainColor;
        border-style: solid;
        border-width: 0;
        // border-left-width: 5px;
        max-width: 730px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        min-height: 250px;
        padding-left: 90px;
        border-bottom: 1px solid #EEE;
        padding-bottom: 20px;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: -5px;
            background: $mainColor;
            width: 5px;
            height: 100%;
            // transform: scaleY(0);
            // transform-origin: top center;
            // transition: all 1s ease-in;
        }

        &::after{
            content: "";
            position: absolute;
            background: $mainColor;
            // transform: scaleX(0);
            // transform-origin: left center;
            // transition: all 1s ease-in;
        }

        // &.animated{
        //     &::before{
        //         transform: scaleY(1);
        //     }
        //     &::after{
        //         transform: scaleX(1);
        //     }
        // }


        &.step-1{
            &::before{
                display: none;
            }
        }
        &.step-2,
        &.step-3
        {
            &::before{
                height: calc(100%);
                bottom: 50%;
                top: auto;
            }
        }
        &.step-3{
            // &::before{
            //     height: 50%;
            //     bottom: 0;
            // }

            &::after{
                height: 50%;
                width: 5px;
                top: 50%;
                left: 0;
                
            }
        }
        &.step-4{
            
            &::before{
                height: 50%;
                width: 5px;
                top: 0;
                right: 0;
            }
            &::after{
                height: 5px;
                width: 100%;
                top: -2.5px;
                left: 0;
                
            }
        }
        &.step-5{
            
            &::before{
                height: calc(100%);
                width: 5px;
                top: auto;
                right: 0;
                bottom: 50%;
            }
        }
        
        &.step-6{
            
            &::before{
                height: calc(50% + 120px);
                width: 5px;
                top: auto;
                right: 0;
                bottom: 50%;
            }

            &::after{
                height: calc(50%);
                width: 5px;
                top: auto;
                right: 0;
                bottom: 0%;
            }
        }
        .step-name{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            text-align:center;
            position: absolute;
            left: 0%;
            margin-left: -77px;
            border: 4px solid $mainColor;
            @include flex();
            @include flexAlignCenter();
            z-index: 3;
            background: #FFF;
            color: $mainColor;
            @extend %boxshadow;
            padding: 10px;
            .step-name-inner{
                width: 100%;
            }
            .number{
                display: block;
                font-size: 25px;
                font-weight: 700;
                line-height: 1;
            }

            .title{
                font-size: 13px;
                font-weight: 500;
                line-height: 1.1;
                display: block;
                margin-top: 5px;
            }
        }

        .description{
            // width: calc(100% - 150px);
            padding: 0 20px;
        }

        &.custom-border-top{
            // border-top-width: 5px;
        }
        &.right{
            border-left: 0;
            // border-right-width: 5px;
            padding-left: 0px;
            padding-right: 90px;
            .description{
                text-align: right;
            }
            &::before{
                right: 0px;
                left: auto;
                
            }

            &:first-of-type{
            }
            .step-name{
                order: 2;
                left: auto;
                right: 0;
                margin-right: -75px;
                margin-left: 0;
            }
            .description{ order: 1;}
        }
        &.center{
            display: block;
            padding-top: 190px;
            &::before{
                height: 5px;
                width: 50%;
                top: -6px;
                left: 50%;
            }
            &::after{
                height: 36px;
                width: 5px;
                top: -6px;
                left: 50%;
                margin-left: -2.5px;
            }
            .step-name{
                order: 1;
                margin: auto;
                left: 50%;
                margin-left: -75px;
                top: 30px;
            }
            .description{ margin: auto; margin-top: 20px;text-align: center;}
        }
        &.last{
            border-left: 0;
            border-bottom: 0;
            border-top-color: transparent;
            border-bottom-width: 0;
            &::before{
                // height: 0;
            }
        }
        &.step-1{
            border-left-color: transparent;
            &::before{
                // height: 52%;
                width: 5px;
                bottom: 0;
                left: -5px;
            }
        }
        &.step-3{
            border-bottom: 0;
        }
        &.step-3,
        &.step-6
        {
            border-bottom-color: transparent;
            &::before{
                // height: 125px;
            }
        }
    }

    
}

.devis-section{
    padding: 60px 0;
    position: relative;
    & > *{
        position: relative;
        z-index: 4;
    }

    &::after{
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        background-image: linear-gradient(to right, #83daff, $mainColor);
        opacity: 1;
    }
    &::before{
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
        background-image: url("../image/contact-bg.svg");
        background-repeat: no-repeat;
        background-size: inherit;
        background-position: top right;
        opacity: .05;
    }
    p{
        max-width: 450px;
        color: #FFF;
        font-weight: 700;
        margin-bottom: 0;
    }

    .main-btn{
        color: #FFF; 
        @extend %boxshadow;
    }
}


.no-realisation{
    background-color: #FFF;

    .realisation-carousel{
        .owl-stage-outer{
            padding: 10px 15px;
            margin-left: -15px;
            margin-right: -15px;
        }
        .item{

            background: #FFF;
            // border-radius: 5px 20px 10px 20px;
            @extend %bigboxshadow;
            padding: 0px;
            text-align: center;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            cursor: pointer;
            .title{
                margin-top: 0;
                border-top: 1px solid #EEE;
                font-size: 16px;
                padding: 13px 20px;
                text-align: left;
                font-weight: 500;
                font-family: $fontFamilly;
            }

            p{
                font-size: 15px;
                color: #777;
            }

            &:hover{
                @extend %boxshadow; 
            }
        }
    }
}

.testimonials{
    background-color: #F9F9F9;
    padding: 100px 0;
    .sec-header{
        text-align: center;

        .sec-title{
            &::after{
                left: 50%;
                margin-left: -35px;
            }
        }
    }
    .testimonials-carousel{
        max-width: 700px;
        margin: auto;
        margin-top: 80px;
        .owl-stage-outer{
            padding: 50px 15px 10px;
            margin-left: -15px;
            margin-right: -15px;
        }
        .item{
            text-align: center;
            background: #FFF;
            padding: 60px 30px;
            @extend %boxshadow;
            .comment{
                color: #666;
                font-style: italic;
            }
            .quote-icon{
                font-size: 20px;
                position: absolute;
                width: 50px;
                height: 50px;
                background: #FFF;
                color: $mainColor;
                line-height: 50px;
                text-align: center;
                top: -25px;
                left: 50%;
                margin-left: -25px;
                border-radius: 50%;
                @extend %bigboxshadow;
            }
            .ratting{
                color: $yellow;
                font-size: 13px;
                text-align: center;
                display: block;
                i{
                    &.uncolored{
                        color: #AAA;
                    }
                }
            }
            
            .client-name{
                font-size: 14px;
                font-weight: 600;
                color: #222;
                display: none;
            }
            .jobe{
                font-size: 13px;
                display: none;
            }
        }
    }

    .owl-nav{
        position: absolute;
        left: -80px;
        right: -80px;
        top: 40%;
        height: 0;
        
        .owl-prev,
        .owl-next
        {
            width: 50px;
            height: 50px;
            background: #FFF!important;
            text-align: center;
            line-height: 38px;
            border-radius: 50%;
            @extend %boxshadow;
            img{
                max-width: 20px;
                max-height: 20px;
            }

        }
        .owl-prev{
            float: left;
        
        }
        .owl-next{
            float: right;
        }
    }
}

@media (max-width: 991px){
    .web-steps{
        .step{
            max-width: calc(100% - 50px);
            margin-left: auto;
            padding-left: 40px;
            margin-right: 0;
            min-height: 200px;
            padding-top: 20px;
            .step-name{
                width: 100px;
                height: 100px;
                margin-left: -50px;
                .number{

                }
                .title{
                    font-size: 12px;
                }
            }

            
            &:not(.right){
                .description {
                    padding-right: 0;
                }
            }
            &.step-4{
                &::after{
                    width: calc(100% - 50px);
                    left: 50px;
                }
            }
            &.step-7{
                &::before{
                    width: calc(50% - 25px);
                    right: 50px;
                    left: calc(50% - 25px);
                }
                &::after{
                    left: calc(50% - 25px);
                }
            }
            &.right{
                margin-left: 0;
                margin-right: auto;
                padding-left: 0;
                padding-right: 40px;
                .description {
                    padding-left: 0;
                }
                .step-name{
                    margin-left: 0px;
                    margin-right: -50px;
                }
            }
            &.last{
                
            }
            &.center{
                margin-left: 0;
                padding-left: 0;
                width: 100%;
                max-width: 100%;
                padding-top: 120px;
            }
            
        }
    }

    .testimonials{
        padding: 0px 0;
        .testimonials-carousel{
            margin-top: 40px;
        }

        .owl-nav{
            left: -10px;
            right: -10px;

            .owl-next,
            .owl-prev
            {
                width: 40px;
                height: 40px;
            }
        }
    }
}