@media (max-width: 991px) {
  .carrow {
    max-width: 220px;
    padding: 15px 0; }
    .carrow span {
      width: 65px;
      height: 65px;
      position: absolute;
      top: 50%;
      left: auto;
      transform: translateY(-50%);
      border-radius: 50%;
      border: 2px solid rgba(255, 255, 255, 0.1);
      transition: border .2s ease-in-out; }
      .carrow span::before {
        content: "";
        width: 50px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 51%;
        right: 50%;
        transition: all .3s ease; }
      .carrow span::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-color: transparent transparent transparent #fff;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 45%;
        transition: all .3s ease; }
    .carrow:hover {
      letter-spacing: 3px; }
      .carrow:hover span {
        border: 2px solid #fff; }
        .carrow:hover span::before {
          width: 25px;
          right: 25px; }
        .carrow:hover span::after {
          right: 20px; }

  .navbar {
    padding: 10px 10px;
    background: #333 !important; }
    .navbar.on-scroll {
      background: #333 !important;
      padding: 10px 10px; }
    .navbar .navbar-brand {
      width: 100px; }

  .services .services-infos {
    margin-bottom: 30px;
    /*padding: 25px;*/ }

  .valeurs .list-item,
  .valeurs .first-column {
    margin-bottom: 30px; }
  .valeurs .list-item {
    padding-left: 90px !important; }
    .valeurs .list-item:hover {
      padding-left: 90px !important; }

  .our-offer-row:not(:last-of-type) {
    margin-bottom: 60px; }
  .our-offer-row .projets-infos {
    margin-top: 30px; }

  .contact h4.section-title {
    font-size: 30px; } }
@media (max-width: 575px) {
  /* ======================
  == Navbar
  =========================*/
  .navbar {
    padding: 10px 10px;
    background: #333 !important; }
    .navbar.on-scroll {
      background: #333 !important;
      padding: 10px 10px; }
    .navbar .navbar-brand {
      width: 100px; }

  /* ======================
  == HEADER
  =========================*/
  .header {
    background-position: 72% center; }
    .header .inner-banner h1 {
      font-size: 35px !important;
      line-height: 43px !important; }

  .contact h4.section-title {
    font-size: 25px; }
  .contact .questions label {
    font-size: 14px !important; } }

/*# sourceMappingURL=responsive.css.map */
