$mainColor: #2dabdc;;//2dabdc
$solidColor: rgb(29, 159, 179);
$fontSize : 16px;
$bodyColor : #fff;
$whiteColor : #ffff;
$activeColor : #34c9ca;
$darckColor : #005d78;
$footerBack : #e7f5f7;
$headerHeight: 94px;
$headlinefontsize: 55px;
$padding: 50px;
$fontFamilly : 'Montserrat', sans-serif;

@mixin addPrefix($attr, $value) {
    #{$attr}: $value;
    -webkit-#{$attr}: $value;
    -moz-#{$attr}: $value;
    -o-#{$attr}: $value;
    -ms-#{$attr}: $value;
}


/* ======================
== Global 
=========================*/
.padding{
    padding-top: 90px;
    padding-bottom: 90px;
}

.text1{
    font-size: 16px;
    color: #444;
}
.text2{
    font-size: 17px;
    font-weight: 500;
    color: #444;
}

body {
    position: relative;
    font-size: 16px;
  }

h2.sec-title{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 25px;
    // text-align: center;

    &::after{
        position: absolute;
        content: "";
        left: 0%;
        right: 0;
        bottom: 0;
        width: 70px;
        height: 5px;
        // margin-left: -35px;
        z-index: 2;
        background: #333;
    }

}

.special-word{
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
}

a{
    &:hover{
        text-decoration: none;
    }

    &:focus{
        outline: none;
    }
}

.w-100{
    width: 100%
}

.h-100{
    height: 100%
}

.carrow {
    max-width: 350px;
    position: relative;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
    padding: 20px 0;
    transition: letter-spacing .2s ease-in-out;
    width: 350px;

    span {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
       
        left: auto;
        transform: translateY(-50%);
        border-radius: 40px;
        
        border: 2px solid rgba(255,255,255,.1);
        transition: border .2s ease-in-out;

        &::before {
            content: "";
            width: 80px;
            height: 2px;
            background: #fff;
            position: absolute;
            top: 50%;
            margin-top: -1px;
            right: 50%;
            transition: all .3s ease;
        }
        &::after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-color: transparent transparent transparent #fff;
            position: absolute;
            top: 50%;
            margin-top: -5px;
            right: 45%;
            transition: all .3s ease;
        }
    }
    &:hover {
        letter-spacing: 3px;
        span {
            border: 2px solid #fff;
            &::before {
                width: 25px;
                right: 25px;
            }
            &::after {
                right: 20px;
            }
        }
    }
}

.main-btn{
    text-transform: uppercase;
    background: $mainColor;
    color: #FFF;
    padding: 10px 15px;
}
.modal-backdrop{
    opacity: 0.6!important;
}
.sec-header{
    .sec-title {
        color: #222;
        &::after{
            background: #333;
        }
      }
}
.img-fluid{
    max-width: 100%;
 }

/* ======================
== Navbar
=========================*/
#wrapwrap{
    position: relative;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: $mainColor;
}

#custom-header{
    padding: 22px 0;
    position: absolute;
    background: transparent!important;
    transition: all 0.2s ease-in-out;
    z-index: 18;
    display: block;
    top: 0;
    left: 0;
    right: 0;


    .navbar .container{
        align-items: center;
    }
    .navbar {
        background: none;
        border: 0;
        background: none;
        padding: 0;
        .navbar-header{
            margin-left:0;
            margin-right: 0;
        }
        .divider{
            opacity: .3;
        }
        

        

    }
    .navbar-brand{
        width: 100px;
        padding: 0;
        float: none;
        height: auto;
        display: inline-block;
        .logo-scroll{
            display: none;
        }
        
        img{
            max-width: 100%;
            width: 100px;
        }
    }
    .nav-item{
        .nav-link{

        }
    }

   

    &.navbar-mobile{
        
        height: 72px;
        // position: relative;
        .navbar-nav{
            margin-top: 30px;
        }
        .navbar-brand{
            width: 35px;   

        }

    }

    &.on-scroll
    {
        background: #FFF!important;;
        padding: 15px 0;
        position: fixed;
        z-index: 1000;
        @extend %boxshadow;
        .navbar-brand{
            .logo-top{
                display: none;
            }
            .logo-scroll{
                display: inline-block;
            }
        }
        .navbar{
        }
        .navbar-nav .nav-link{
            color: #333;
        }
    }

}

.navbar{
    .container{
        display: flex;
        align-self: center;
    }

    .navbar-top-collapse{
        
    }

    .navbar-top-collapse{
        margin-left: auto;
    }

    .navbar-nav
     {
         display: block;
        li{
            display: inline-block;
            a{
                text-transform: uppercase;
                font-weight: 500;
                padding: 3px 10px;
                font-size: 14px;
                font-weight: 600;
                color: #555;
                text-transform: uppercase;
                &.active{
                    background: $mainColor;
                    @extend %boxshadow;
                    color: #FFF;
                    border-radius: 10px;
                }
    
                &:hover{
                // color:#FFF;
                }
            }

            &.active{
                a{
                    // color: #1b94c1;
                    // color: #fff;
                    background: $mainColor;
                    @extend %boxshadow;
                    color: #FFF;
                    border-radius: 10px;
                }
            }
    
            &.dropdown{
            position: relative;
            .dropdown-toggle::after{
            display: none;
            }
                &>a{
    
                }
                &.open{
                    background: transparent;
                    a{
                        background: transparent;
                    }
    
                }
            }
            .dropdown-menu{
                background: #FFF;
                position: absolute;
                top: 100%;
                left: 0;
                width: 154px;
                border-radius: 10px;
                transform: translateY(5px);
                padding: 0;
                border: 0;
                overflow: hidden;
                li{
                width: 100%;

                    a{
                        color: #222;
                        text-shadow: none;
                        padding: 9px;
                        border-top: 1px solid #EEE;
                        text-align: center;
                        &:hover{
                            background: $mainColor;
                            color: #FFF;
                        }

                    }

                    &:first-of-type{
                        a{
                        border-top: 0px;
                        }
                    }
                }
            }
        }
     }
}

.navbar-header .navbar-toggle{
    position: relative;
    border: 0;
    padding: 0;
    height: 14px;
    // width: 28px;
    background: none;
    text-shadow: none;
    box-shadow: none;
    display: none;
    
    // background-color: red;
    // &::after,
    // &::before
    // {
    //     content: "";
    //     position: absolute;
    //     top: 5px;
    //     left: 0;
    //     width: 100%;
    //     height: 4px;
    //     background-color: #333;
    //     opacity: 0.8;
    //     border-radius: 3px;
    //     // transition: ;
    //     transform-origin: center center;
    //     transition: all .11s ease-in-out;
        

    // }

    &::after
    {
        top: auto;
        bottom: 5px;
        transform: rotateZ(45deg);
    }

    &::before
    {
        transform:rotateZ(-45deg);
    }

    &.collapsed,
    &[aria-expanded="false"]{

    &::after
    {
        margin-bottom: -5px;
        transform: rotateZ(0deg);
    }

    &::before
    {
        margin-top: -5px;
        transform: rotateZ(0deg);
    }
    }
}

.section-with-curve{
    position: relative;

    &>*{
        position: relative;
        z-index: 3;
    }
    &::before{
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 1;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center 100%;
    }
}

.menu-mobile{
    position: fixed;
    height: calc(100% - 72px);
    padding: 0 15px;
    
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: #333!important;
    height: 100%;
    width: 100%;
    z-index: 10000;
    padding-top: 40px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: all .3s ease-in-out;
    .navbar-collapse{
        display: block!important;
    }

    &.open{
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
    }

    .nav-item {
        .nav-link{
            color: rgba(255, 255, 255, 0.596);
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.11);
            padding: 10px 0;
            text-transform: uppercase;
        }

        &:last-of-type{
            .nav-link{
                border-bottom: 0;
            }


        }

        &.active{
            .nav-link{
                color: #fff;
            }
        }
    }
}
  

/* ======================
== HEADER
=========================*/
.header{
    height: 100vh;
    // max-height: 820px;
    // background: url("../image/bg-home.png") center center no-repeat;
    // background: #f4f8fb;
    background: #ddf5ff;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

    &>*{
        position: relative;
        z-index: 3;
    }

    &::after{
        position: absolute;

        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        width:100%;
        // background-image: linear-gradient(90deg, #a1103d 0%, #3b6be7 100%);
        opacity: 0.6;
    }
    &::before{
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-image: url("../image/curve4.jpg");
        opacity: 1;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center 100%;
        display:block;
    }

    .inner-banner{
        // padding: 120px 0;
        h1{
            font-size: 50px;
            font-family: $fontFamilly;
            color: #222;
            font-weight: 800;
            line-height: 1.267;
            text-align: left;
            .headline-arrow{
                display: inline-block;
                width: 80px;
                height: 8px;
                margin-right: 6px;
                margin-left: -30px;
                background-color: #222;
            }
            span{
                // font-family: 'Orbitron', sans-serif;
              }
        }

        p {
            font-size: $fontSize;
            font-family: $fontFamilly;
            color: #333;
            font-weight: 400;
            text-align: left;
            letter-spacing: 1px;
            font-weight: 600;
            margin-top: 20px;
            
          }
        
          .btn-our-services{
            background-color: $mainColor;
            color: #FFF;
            font-size: 14px;
            padding: 13px 30px;
            border: 0;
            font-weight: 600;
            margin-top: 20px;
            @extend %boxshadow;
            border-radius: 20px;
            &:hover{
                background: $solidColor;
            }
            i{
                font-size: 1rem;
                margin-left: 4px;
                position: relative;
                top: 1px;
            }
            // border: 1px solid #F8F8F8;
          }
      }

      .btn-scrolldown{
          display: none;
        position: absolute;
        right: 0;
        bottom: 90px;
        left: 50%;
        transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        $color: #555; 
          .scrolldown {
          cursor: pointer;
          display: block;
          transform: scale(.9) rotate(90deg) translateY(calc(-50% - 20px));
          transform-origin: center left;
              span {
                  right: auto;
              }
          }
      
          .reveal--simple.revealed {
              opacity: 1;
          }
          
          a.carrow {
              max-width: 300px;
              position: relative;
              letter-spacing: 2px;
              display: inline-flex;
              align-items: center;
              padding: 20px 0;
              transition: letter-spacing .2s ease-in-out;
          }
          a.carrow:hover {
              letter-spacing: 3px;
          }
          a.carrow span {
              width: 80px;
              height: 80px;
              position: absolute;
              top: 50%;
              
              left: auto;
              transform: translateY(-50%);
              border-radius: 40px;
              
              border: 2px solid $color;
              transition: border .2s ease-in-out
          }
              a.carrow:hover span {
              border: 2px solid $color;
          }
          a.carrow span:before {
              content: "";
              width: 80px;
              height: 2px;
              background: $color;
              position: absolute;
              top: 50%;
              margin-top: -1px;
              right: 50%;
              transition: all .3s ease;
          }
          a.carrow:hover span:before {
              width: 25px;
              right: 25px;
          }
          a.carrow span:after {
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5px 0 5px 5px;
              border-color: transparent transparent transparent $color;
              position: absolute;
              top: 50%;
              margin-top: -5px;
              right: 45%;
              transition: all .3s ease;
          }
          a.carrow:hover span:after {
              right: 20px;
          }
      }
    
}


/* ======================
== About
=========================*/
.about{
    padding-top: 20px;
    padding-bottom: 50px;
    // h2 {
    //     color: rgb(41, 171, 226);
    //     &::after{
    //         background: rgb(41, 171, 226);;
    //     }
    //   }
    &::before{
        // background-image: url("../image/curve-blue-bottom.png");
    }

    .img-container{
        max-width: 600px;
        margin-right: auto;
            margin-top: auto;
        display: block;
        // margin-top: -40px;
    }

      p.about-para{
        // font-size: 17px;
        margin-bottom: 0;
        & + p{
            margin-top: 12px;
        }

        // font-weight: 500;
        }

        .bottom-p{
            margin-top: 50px;
        }

        

        .partners{
            .partners-image{
                overflow: hidden;
                height: 110px;
                padding: 10px;
                line-height: 100px;
                img{
                    max-height: 100%;
                    max-width: 100%;
                    @include addPrefix(filter, grayscale(100%));
                    @include addPrefix(transition, all .3s ease-in-out);
                    cursor: pointer;
                    &:hover{
                        @include addPrefix(filter, grayscale(0));
                    }
                }
            }
        }
}

.my_awsome_buttom.carrow{
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(41, 171, 226);
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    display: inline-block;
    max-width: 100%;

    span {

        border: 2px solid rgba(41, 171, 226,.1);
        margin-left: 50px;
        &::before {
            background:  rgb(41, 171, 226);
          }
      }

    
      span:after {

        border-color: transparent transparent transparent rgb(41, 171, 226);
        
      }

      &:hover {
        letter-spacing: 2px;
        span{
            border: 2px solid rgb(41, 171, 226);
        }
      }
      
}

/* ======================
== Indicateurs
=========================*/
.indicateur{
    padding: 30px 0 70px;
    .indicateur-item{
        padding: 30px;
        text-align: center;
        background: #feffff;
        box-shadow: 0px 1px 2px #00000023;
        -webkit-box-shadow: 0px 1px 2px #00000023;
        border-radius: 5px 20px 5px;
        position: relative;
        transition: all .2s ease-in-out;
        // background: #BADA55;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 5px;
            background: $mainColor;
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            transform: scaleX(0);
            transform-origin: left center;
            background: $mainColor;
        }
        &.bottom_animation{
            &::before{
                bottom: 0;
                top: auto;
            }
        }
        .icon{
            max-width: 80px;
            display: block;
            margin: auto;
            margin-bottom: 30px;
        }
        .title{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
        }

        &:hover{
            box-shadow: 0px 1px 8px #00000023;
            -webkit-box-shadow: 0px 1px 8px #00000023;
            &:not(.bottom_animation){
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }
            &.bottom_animation{
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            &::before{
                transform: scaleX(1);
            }

        }
    }
}

/* ======================
== Services
=========================*/
.services{
    background-color: #fafafb;
    //      padding-top: 50px;
    //    padding-bottom: 50px;
    .services-infos{
        /*padding: 25px;*/
        border-radius: 2%;
        padding: 40px 20px;
        height: 100%;
        

        box-shadow: rgba(0, 0, 0, 0.055) 0 0 16px;
        overflow: hidden;
        background-color: #FFF;

        a:hover .card__header {
        opacity: 1;
        }

        a:hover .card__header-icon {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        .summary{
            font-size: 15px;
            color: #333;
            line-height: 1.4;
            text-align: center;
        }
        .services-heading{
            text-align: center;
        }
      }

      .anim-box{
          max-width: 130px;
          margin: auto;
          height: 130px;
          padding: 30px;
          background: $mainColor;
          border-radius: 50% 50% 50% 5%;
      }
      

    .services-infos:hover {
        // background-image:linear-gradient(120deg, #c71585 0%, #58043a 100%);
    }

       .card__header-icon {
           
           position: absolute;
           right: 0;
           top: 60%;
           margin-top: -1em;
           -webkit-transform: translateX(-20%);
           transform: translateX(-20%);
           width: 2em;
           height: 2em;
           -webkit-transition: all .3s ease-in-out;
           transition: all .3s ease-in-out;
           color: #333;
           font-size: 20px;
           .st0{
               color: #333!important;
           }
       }

       .card__header {
         opacity: 0;
         position: relative;
         margin-top: 30px;
         transition: opacity .3s ease-in-out;
       }
       
       .card__header-title {
         margin: 0 0 .25em;
         color: #222;
       }
       .card__header-meta {
       font-family: 'Montserrat', sans-serif;
           color: #FFF;
       margin: 0;
       color: #444;
    //    opacity: 0;
       
       }



       .first-row{
           margin-bottom: 70px;
       }
       h2 {
         color: #222;
          margin-top: 0px;
       }
       .heading-line {
          border-top: 1px solid #222;
          
       }
       h3{
        font-size: 22px;
        
        font-family: 'Orbitron', sans-serif;
        color: #222;
        line-height: 1.2;
        text-align: center;
        /*border-bottom: 1px solid #868c94;*/
         /* margin-bottom: 20px;
          padding-bottom: 25px;*/
        
       }
       
       .services-infos .services-infos-details{
        position: relative;
        margin-top: 27px;
          padding-top: 27px;
          display: flex;
          flex-direction: column;
          border-top: 1px solid rgba(200, 200, 200, 0.2);
       } 
       .services-infos .services-infos-details:before {
          content: "";
          position: absolute;
          border-top: 1px solid #888;
          top: 0;
          width: 100%;
          transform: scaleX(0);
          transform-origin: center left;
          transition: transform .45s cubic-bezier(.54,.5,.04,.98);
       }
       .services-infos .services-infos-details .heading-container {
          position: relative;
       }
       .services-infos .services-infos-details .heading-container .small-line {
        position: absolute;
          border-top: 2px solid #444;
          width: 15px;
          top: 50%;
          transform: translate3d(0,-50%,0);
          width: 10px;
          transform-origin: center left;
          /*opacity: .5;*/
          transition-property: transform,opacity;
          transition-duration: 150ms;
          transition-timing-function: ease-out;
       }
       .services-infos:hover .services-infos-details .heading-container .small-line {
          transform: translate3d(0,-50%,0) scaleX(1.4);
          opacity: 1;
       }
       .services-infos:hover .services-infos-details .heading-container .details-heading {
          opacity: 1;
          transform: translate3d(25px,0,0);
       }
       .services-infos .services-infos-details .heading-container .details-heading {
          display: inline-block;
          /*padding-left: 0;*/
          transform: translate3d(15px,0,0);
          transition-property: opacity,transform;
          transition-duration: 150ms;
          transition-timing-function: ease-out;
          position: relative;
          font-size: 14px;
       font-family: 'Montserrat', sans-serif;
        color: #222;
        line-height: 2.438;
        text-align: left;
       }
       .image-services {
        
        margin-bottom:50px;
       }
       .image-services svg{
        display: block;
        margin:0 auto;
        height: 75px;
       }
       
       .services-infos:hover  {
           .card__header{
               opacity: 1;

           }
            .services-infos-details:before{
                transform: scaleX(1);

            }
       }
       
       
       
       .services-infos-mark {
        .anim-box{
            background: #5bcc9f;
        }
       }
       /**/
       /*sercice/web:hover*/
       .services-infos-web {
        .anim-box{
            background: #702fff;
        }
       }
       /**/
       /*sercice/consulting:hover*/
       .services-infos-consul {
        .anim-box{
            background-color: #ffcd3e;
        }
       }
       /**/
       /*sercice/form:hover*/
       .services-infos-form {
        .anim-box{
            background-color: #007aff;
        }
       }

       /**/
       /*sercice/form:hover*/
       .services-infos-mobile {
        .anim-box{
            background-color: #ff8a5b;
        }
       }
}
/* ======================
== valeurs
=========================*/
.valeurs{
    // background-image: url(../image/value-bg.png);
      position: relative;
      width: 100%;
      height: auto;
      background-position: center center;
      background-repeat: no-repeat;
    //   background-attachment: fixed;
      background-size: cover;
      background: #FFF;
    
      &>*{
        position: relative;
        z-index: 3;
    }

      &::after{
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        // background: rgba(#ddf5ff, .9);
        opacity: 0.7;
    }

    .img-container{

    }


    h2{
        // color: #ffffff;
    }

      h5{
        color: #333;
        font-family: $fontFamilly;
        font-size: 18px;
        /*margin-bottom: 80px;*/
        line-height: 1.875;
      }

      h5 .heading-line {
        border-top: 1px solid #777;
        width: 141px;
        text-align: left;
        /* width: 74px; */
        display: block;
        /* margin: 0; */
        text-align: left;
        margin-left: 0;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .design-valeurs{
        position: absolute;
        background-color: #e0dc16;
        padding: 25px 25px;
        color: #fff;
        font-weight: bold;
        /* font-size: 17px; */
        text-align: center;
        left: 0;
        bottom: 0;
      }

      .design-valeurs.first{
        display: none;
      }
      .list-item{
          padding: 0px;
          padding-left: 70px;
          min-height: 65px;
        //   background: #FFF;
        //   @extend %boxshadow;
        overflow: hidden;
          position: relative;
        //   margin-bottom: 35px;
          transition: all .3s ease-in-out;
        //   height: 110px;
          cursor: pointer;

        & + .list-item{
            margin-top: 15px;
        }
        .txt-num{
            position: absolute;
            top: 0px;
            left: 0px;
            display: inline-block;
            z-index: 1;
            transition: all .3s ease-in-out;
            width: 55px;
            height: 55px;
            line-height: 55px;
            background: $mainColor;
            color: #FFF;
            text-align: center;
          // display: none;
            font-size: 22px;
            font-family: 'Orbitron', sans-serif;
            font-weight: 800;
            
            text-align: center;
            text-transform: uppercase;
            opacity: 1;
            border-radius: 50% 50% 5% 50%;
        
        }
        &:nth-of-type(1){
            .txt-num{
                background-color: $blue;
            }
        }
        &:nth-of-type(2){
            .txt-num{
                background-color: $green;
            }
        }
        &:nth-of-type(3){
            .txt-num{
                background-color: $move;
            }
        }
        &:nth-of-type(4){
            .txt-num{
                background-color: $yellow;
            }
        }
        &:nth-of-type(5){
            .txt-num{
                background-color: $blue2;
            }
        }
        &:nth-of-type(6){
            .txt-num{
                background-color: $orange;
            }
        }
          

        
  
        h5{
            position: relative;
            z-index: 2;
            // padding-left: 25px;
            line-height: 1.3;
            display: inline-block;
        }

          &:hover{
              padding-left: 75px;

              .txt-num{
                  opacity: 0.5;
              }
          }
      }
      
}

/* ======================
== Nos produits
=========================*/
.nos-produit{
    .produit{
        padding: 40px;
        padding-bottom: 80px;
        background-color: #fafafb;
        @extend %boxshadow;
        @extend %transition-all;
        position: relative;
        height: 100%;
        .thumbnail{
            max-width: 150px;
        }
        .title{
            font-size: 18px;
            font-weight: 600;
            color: #222;
            margin-top: 15px;
        }
        .description{
            font-size: 15px;
            color: #777;
        }
        .main-btn{
            margin-top: 15px;
            padding: 8px 20px;
            font-weight: 600;
            font-size: 14px;
            left: 40px;
            bottom: 35px;
            position: absolute;
            &:hover{
                color: #FFF;
                background: $solidColor;
            }
        }

        &:hover{
            @extend %bigboxshadow;
        }
    }
}

/* ======================
== OFFRES
=========================*/
.projets{
    background-color: #fafafb;
    .our-offer-row{
        &:not(:last-of-type){
            margin-bottom: 90px;
        }
    }
    h2{
        // color: rgb(41, 171, 226);
        // &::after{
        //     background: rgb(41, 171, 226);;
        // }
    }
    .projets-infos{

        h3{
            font-size: 24px;
            font-family: 'Orbitron', sans-serif;
            color: rgb(51, 51, 51);
            font-weight: bold;
            line-height: 1.458;
            text-align: left;
            margin-bottom: 20px;
          }

          p {
            // font-size: 18px;
            // font-family: 'Montserrat', sans-serif;
            // color: rgb(51, 51, 51);
            // line-height: 2;
            // text-align: left;
            margin-bottom: 40px;
            
          }

          ul {
            position: relative;
            margin-bottom: 30px;

            li {
    
                font-size: 16px;
                font-family: $fontFamilly;
                color: #444;
                line-height: 2.188;
                text-align: left;
                padding-bottom: 15px;
                padding-left: 40px;
                font-weight: 600;

                &::before {
                    content: '\2014';
                  position: absolute;
                  /* margin-left: 20px; */
                  left: 0;
                  color: #959595;
              }
                
              }
          }
      }
      .projets-image{
        //   overflow: hidden;
        img{
            width: 100%;
            transition: transform .3s ease-in-out;
            // transform: translate3d(-0%, 0, 0);

            &:hover{
                transform: scale(1.05);
            }
          }
      }

      a.arrow{
        position: relative;
        display: inline-block;
        padding: 5px 0;
        color: rgba(51, 51, 51, 0.6);
        text-transform: uppercase;
        font-size: 15px;
      font-family: 'Orbitron', sans-serif;
      & span {
        position: relative;
         display: inline-block;
         width: 85px;
         height: 8px;
         margin-left: 25px;
         transition: all .3s ease;
     }
      &:hover span{
         width: 95px;
     }
     
      & span:before{
         content: "";
         width: 85px;
         height: 2px;
         background: #1f1f1f;
         position: absolute;
         top: 50%;
         margin-top: -1px;
         transition: all .3s ease;
     }
     &:hover span:before{
         width: 95px;
     }
      & span:after{
         content: "";
         width: 0;
         height: 0;
         border-style: solid;
         border-width: 5px 0 5px 5px;
         border-color: transparent transparent transparent #1f1f1f;
         position: absolute;
         top: 50%;
         right: 0;
         margin-top: -5px;
         transition: all .3s ease;
     }
    }

}
  

/* ======================
== technology
=========================*/
.technology{
    background: #1b536f;
    overflow: hidden;
    #technology-logos.owl-carousel .owl-item img:first-child{
        /*margin: unset;
        float: left*/
      }
      .logo{
        //   height: 65px;
          img{
              max-height: 100%;
              max-width: 100%!important;
          }
      }
      #technology-logos.owl-carousel .owl-item img {
          display: block;
           width: 100px; 
               margin: 0 auto;
      }
      #technology-logos.owl-carousel .owl-item .php img {
      
           width: 176px; 
      }

      .owl-carousel .owl-next, .owl-carousel .owl-prev {
          position: absolute;
         top: 30%;
          color: #FFF !important;
          text-align: center;
          outline: 0;
      }
      .owl-carousel .owl-prev {
          left: -50px;
      }
      .owl-carousel .owl-next {
          right: -50px;
      }
      .owl-dots button.owl-dot.active {
          background-color: #1aa5e0;
      }
      .owl-dots{
        display: block;
          margin: 0 auto;
          text-align: center;
          /* margin-top: 29px; */
          /* position: absolute; */
          /* bottom: 0; */
          margin-top: 30px;
      }
      .owl-dots button.owl-dot {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          display: inline-block;
          background: #ccc;
          margin: 0 3px;
          outline:0;
      }
}



/* ======================
== Contact
=========================*/
.contact{
    
    position: relative;

    & > *{
        position: relative;
        z-index: 4;
    }
    &::after{
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        background-image: linear-gradient(to right, #83daff, $mainColor);
        opacity: 1;
    }
    &::before{
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
        background-image: url("../image/contact-bg.svg");
        background-repeat: no-repeat;
        background-size: inherit;
        background-position: top right;
        opacity: .05;
    }

    .questions label{
        font-size: 18px!important;
        color: #fff;
    }
    // background-image: linear-gradient(to left, #a1103d, #a51360, #9c2a85, #8342a8, #5059c5);
    
    // padding-top: 50px;
    // padding-bottom: 50px;

     h4.section-title{
    font-size: 40px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      color: rgb(255, 255, 255);
      line-height: 1.45;
      text-align: center;
      
    }

     h4.section-title span{
        font-family: 'Orbitron', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    
     p{
        font-size: 18px;
         font-family: 'Montserrat', sans-serif;
        color: rgb(254, 254, 255);
        text-align: center;
    }

     .descriptions{
      max-width: 850px;
      display: block;
      margin: 0 auto;
    }
}

/* ======================
== Blogs
=========================*/
/*publication*/
#publications{
    margin-bottom: 35px;
    // padding-left: 2px;
    // padding-right: 2px;
    h2{
        color: rgb(41, 171, 226);
        &::after{
            background: rgb(41, 171, 226);;
        }
        // margin-top: 0px;
      }
    //   .item{

    //   }
    .owl-item{
       height: 100%;
    //    padding: 5px;
    }
    .item {
        text-align: center;
        // background-color:#f8f8f8;
        height: 100%;
        
        // @include addPrefix(box-shadow, 0px 0px 2px #00000042);
        // @include addPrefix(transition, all .3s ease-in-out);

        .image-blog{
            overflow: hidden;
            img{
                @include addPrefix(transition, all .3s ease-in-out);
            }
        }

        &:hover{
            .image-blog{
                img{
                    transform: scale(1.1);
                }
            }
        }
        // border: 1px solid #0000001a;
        .item-details {
            color: #fff;
            padding: 20px 0 0;
            text-align: left;
  
            h6 {
              margin: 10px 0 10px 0 ;
              font-family: $fontFamilly;
              font-weight: 600;
              font-size: 16px;
              text-transform: uppercase;
              line-height: 1.7;
              color: rgb(41, 171, 226);
  
              span {
                  color: rgb(41, 171, 226);
                }
            }
  
            p {
              font-family: 'Montserrat', sans-serif;
              font-size: 16px;
              color: rgb(102, 102, 102);
              line-height: 1.6;
              text-align: left;
              font-weight: 400;
            }
          }
    }

    a.arrow{
          position: relative;
          display: inline-block;
          padding: 5px 0;
          font-size: 15px;
        font-family: "Futura Hv BT", sans-serif;
        color: rgb(51, 51, 51);
        text-transform: uppercase;
        line-height: 1.583;
      }
    a.arrow span {
         position: relative;
          display: inline-block;
          width: 85px;
          height: 8px;
          margin-left: 25px;
          transition: all .3s ease;
      }
    a.arrow:hover span{
          width: 95px;
      }
      
    a.arrow span:before{
          content: "";
          width: 85px;
          height: 2px;
          background: #1f1f1f;
          position: absolute;
          top: 50%;
          margin-top: -1px;
          transition: all .3s ease;
      }
    a.arrow:hover span:before{
          width: 95px;
      }
    a.arrow span:after{
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 0 5px 5px;
          border-color: transparent transparent transparent #1f1f1f;
          position: absolute;
          top: 50%;
          right: 0;
          margin-top: -5px;
          transition: all .3s ease;
      }
      

    
        .owl-carousel .owl-nav [class*='owl-'] {
           transition: all .3s ease;
           outline: 0;
         }
         
        .owl-carousel .owl-nav [class*='owl-'].disabled:hover {
           background-color: #D6D6D6;
         }
         
        .owl-carousel {
           position: relative;
         }
         
        .owl-carousel .owl-next,
        .owl-carousel .owl-prev {
          
           position: absolute;
           top: 15%;
           color: #1aa5e0;
           text-align: center;
         }
         
        .owl-carousel .owl-prev {
           left: 0px;
         }
         
        .owl-carousel .owl-next {
           right: 0px;
         }
        .owl-dots {
           text-align: center;
         }
        .owl-dots button.owl-dot {
           width: 15px;
           height: 15px;
           border-radius: 50%;
           display: inline-block;
           background: #ccc;
           margin: 0 3px;
         }
        .owl-dots button.owl-dot.active {
               background-color: #1aa5e0;
         }
        .owl-dots button.owl-dot:focus {
           outline: none;
         }
}

.move-up.animated {
    -webkit-transform: translateY(70px);
    -ms-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-animation: moveVertical .76s ease forwards;
    animation: moveVertical .76s ease forwards;
}
.small-move-up.animated {
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-animation: moveVertical .76s ease forwards;
    animation: moveVertical .76s ease forwards;
}

/* SPLITTING */
.splitting .word,
.splitting .char {
  display: inline-block;
}

.splitting .char {
  position: relative;
}

.animated {
    .char {
        display: inline-block;
        -webkit-animation: texteffect 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
        animation: texteffect 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
            animation-delay: 0s;
        -webkit-animation-delay: calc(20ms * var(--char-index));
        animation-delay: calc(10ms * var(--char-index));
    }

    &.fast-animation{
        .char{
            -webkit-animation-delay: calc(3ms * var(--char-index));
            animation-delay: calc(3ms * var(--char-index));
        }
    }
}



.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* ANIMATIONS */
@-webkit-keyframes texteffect {
    0% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes texteffect {
    0% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes texteffect {
    0% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  /* -----------------------------------
    Custom Animation For All Page
---------------------------------------*/
@-webkit-keyframes moveVertical {
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }
  
  @keyframes moveVertical {
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  

/*footer*/
.footer{
    background-color: #e7f5fb!important;
    .prefooter{
        padding: 50px 0;
//dvds
    }
    .fa{
    color: #222;
      font-size: 25px;
          padding-right: 10px;
     /* padding-bottom: 20px;
      display: inline-block;
      margin: 0 auto;*/
    }
    p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #4b5558;
    }
    .copyright-footer{
    background-color:#1b94c1;
    }
    .copyright p{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    /*text-transform: uppercase;*/
    font-weight: 400;
    font-size: 14px;
    // text-align: right;
    margin-bottom: 0;
    }
    .copyright p.cont{
    // text-align: left;
    font-family: 'Montserrat', sans-serif;
    }
    .copyright p a{
          color: #161a26;
    }
    .logo {
    /*display: block;
      margin: 0 auto;*/
      width: 145px;
      padding-bottom: 25px;
    }
    .title-heading{
    color: #2a2e30;;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: bold;
      display: block;
   }
   .liste-services{
    padding-left: 0;
      list-style: none;
      color: #383f41;;
      font-family: 'Montserrat', sans-serif;
      a{
          color: #383f41;
          cursor: pointer;
          display: inline-block;
          &:hover{
              color: $mainColor;
          }
      }
   }
   .social{
    /*display: block;
      margin: 0 auto;
       width: 80%;
      text-align: center;
      margin-top: 42px;
      max-width: 141px;*/
      & > a{
          opacity: .7;

          &:hover{
              opacity: 1;
          }
      }
   }
  }

  @media (min-width:600px){
    .my_awsome_buttom.carrow{
        //   width: 400px;
     } 
     .publications.about a.carrow{
        //   width: 540px;
     } 
     .my_awsome_buttom.carrow span {
      
      right: -45px;
     }
  }
  
  @media (max-width:1366px) and (max-height:700px){
  
  header.masthead .inner-banner h1{
        // font-size: 55px;
        line-height: 1.1;
  }
  section.valeurs h5{
      font-size:19px;
  }
  header.masthead .inner-banner p{
    font-size: 16px;
  }
  
  }
  


  





  









