@media (max-width: 1400px){
    
    .home-section{
        // display: none;
        padding: 100px 0 0;
        min-height: 700px;
        .img-container{
            img{
                max-width: 100%;
                margin-top: 60px;
            }
        }

        .inner-banner{
            padding-top: 80px;
        }

        .container{
            display: block!important;
        }
    }
}

@media (max-width: 991px){

    .padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .projets .our-offer-row:not(:last-of-type) {
        margin-bottom: 70px;
    }

    // Global
    .carrow {
        max-width: 220px;
        padding: 15px 0;
    
        span {
            width: 65px;
            height: 65px;
            position: absolute;
            top: 50%;
           
            left: auto;
            transform: translateY(-50%);
            border-radius: 50%;
            
            border: 2px solid rgba(255,255,255,.1);
            transition: border .2s ease-in-out;
    
            &::before {
                content: "";
                width: 50px;
                height: 2px;
                background: #fff;
                position: absolute;
                top: 51%;
                // margin-top: -1px;
                right: 50%;
                transition: all .3s ease;
            }
            &::after {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-color: transparent transparent transparent #fff;
                position: absolute;
                top: 50%;
                margin-top: -5px;
                right: 45%;
                transition: all .3s ease;
            }
        }
        &:hover {
            letter-spacing: 3px;
            span {
                border: 2px solid #fff;
                &::before {
                    width: 25px;
                    right: 25px;
                }
                &::after {
                    right: 20px;
                }
            }
        }
    }

    #custom-header{
        padding: 15px 0!important;
       .navbar .container{
        display: block!important;
        .navbar-top-collapse {
            li{
                a{
                    display: inline-block!important;
                }
            }
        }

    }
        // background: #FFF!important;;
        &.on-scroll{
            padding: 10px 0!important;
        }

        &.open{
            background: #FFF!important;;
            box-shadow: 0px 1px 2px #00000023;
            -webkit-box-shadow: 0px 1px 2px #00000023;
        }
        .navbar-header{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .icon-bar + .icon-bar{
                margin-top: 5px;
            }
            .navbar-toggle{
                margin-left: auto;
            }
        }

    
        .navbar-brand{
            width: 100px;
        }

        .navbar-toggle{
            display: inline-block;
            width: 45px;
            height: 45px;
            background: #FFF;
            box-shadow: 0px 1px 2px #00000023;
            -webkit-box-shadow: 0px 1px 2px #00000023;
            border-radius: 50%;
            outline: none;
            margin: 0;
            border: 0;
            padding: 4px;
            position: relative;

            &:hover,
            &:focus{
                // background: none;
            }
            .icon-bar{
                background: rgba($mainColor, .7);
                width: 25px;
                transform-origin: right center;
                display: inline-block;
                height: 2px;
                margin: 0!important;
                position: absolute;
                top: 0;
                transition: all .2s ease-in-out;
                left: 10px;
                &:nth-child(1){
                    top: 13px;
                }
                &:nth-child(2){
                    top: 22px;
                }
                &:last-of-type{
                    top: auto;
                    bottom: 13px;
                }

            }

            &.open{
                background: #FFF;
                .icon-bar{
                    // background: #FFF;
                    &:nth-of-type(1)
                    {
                        transform: translateX(-3px) rotateZ(-45deg)!important;
                    }

                    &:last-of-type
                    {
                        transform: translateX(-3px) rotateZ(45deg)!important;
                    }

                    &:nth-of-type(2)
                    {
                        transform: translateX( -20px)!important;
                        opacity: 0;
                    }
                }
            }

            &:hover{
                .icon-bar{
                    &:nth-of-type(2),
                    &:last-of-type
                    {
                        transform: scaleX(0.7);
                    }
                }
            }
        }

        .navbar {

        }

        .navbar-top-collapse{
            width: 100%;
            padding: 20px 0;
            display: none;
            .navbar-nav {
                & > li{
                    display: block;
                    width: 100%;
                    & + li{
                        margin-top: 8px;
                    }
                }
            }
        }

        .navbar-collapse{
            border-color: rgba(#FFF, 0.1);
            padding: 10px 0;
            margin-top: 8px;
        }
        .navbar .navbar-nav{
            margin: 7.5px 0px;
        }
        .navbar .navbar-nav > li:not(:last-of-type){
            border-bottom: 1px dashed rgba(255,255,255,0.04);
        }

        .navbar .navbar-nav > li{
            padding: 2px 0;
        }
        .navbar .navbar-nav > li.dropdown{
            background: transparent!important;
            .dropdown-toggle{
                overflow: hidden;
                padding-bottom: 0px;
                .caret{
                    float: right;
                    margin-top: 7px;
                }
            }
            .dropdown-menu{


            }
        }
    
        
    }

    .home-section{
        min-height: 100vh;
        &::before{
            bottom: -38px;
            background-repeat: no-repeat;
            background-position: 37% 100%;
        }
    }

    .about-us{
        .img-container{
            margin-bottom: 25px;
        }

        .bottom-p{
            margin-top: 30px;
        }
    }


    .services{

        .services-infos{
            height: auto;
            margin-bottom: 30px;
            /*padding: 25px;*/
          }
        }


    .valeurs{
        .list-item,
        .first-column{
            margin-bottom: 30px;
        }

        .list-item{
            padding-left: 90px!important;
            &:hover{
                padding-left: 90px!important;
            }
        }
    }

        // Offers
        .our-offer-row{
            &:not(:last-of-type){
                margin-bottom: 60px;
            }

            .projets-infos{
                margin-top: 30px;
            }
        }

    .contact{
        h4.section-title{
            font-size: 30px;
        }
    }

    .text1{
        font-size: 14.6px;
        line-height: 1.6;
        color: #444;
    }
}

@media (max-width: 575px) {
.padding {
    padding-top: 50px;
    padding-bottom: 50px;
}
p{
    line-height: 1.4;
}

.projets .our-offer-row:not(:last-of-type) {
    margin-bottom: 50px;
}
.projets .projets-infos ul{
    margin-bottom: 0;
}

/* ======================
== Navbar
=========================*/
#custom-header{
    padding: 10px 10px;
    &.on-scroll{
        padding: 10px 10px;
    }

    .navbar-brand{
        width: 100px;
    }
    
}

/* ======================
== HEADER
=========================*/
.header{
    .inner-banner{
        h1{
            font-size: 35px!important;
            line-height: 43px !important;
        }
    } 

    background-position:  72% center;
}

.contact{
    h4.section-title{
        font-size: 25px;
    }

    .questions label{
        font-size: 14px!important;
    }
}
}


