$mainColor: #29abe2;

%boxshadow{
    box-shadow: 0px 1px 2px #00000023;
    -webkit-box-shadow: 0px 1px 2px #00000023;
}
%bigboxshadow{
    box-shadow: 0px 1px 8px #00000023;
    -webkit-box-shadow: 0px 1px 8px #00000023;
}
%transition-all{
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

$blue: $mainColor;
$green: #5bcc9f;
$yellow: #ffcd3e;
$orange: #ff8a5b;
$blue2: #007aff;
$move: #702fff;